body {
  background-color: #212121;
}

.dropdown-item {
  cursor: pointer;
}

.card {
  cursor: pointer;
}

.category-btn {
  margin-bottom: 0px;
}

/* media queries */
@media only screen and (max-width: 480px) {
  .category-btn {
    margin-bottom: 10px;
  }

  .news-card {
    max-width: 380px !important;
  }

  .news-card-img {
    width: 362px !important;
  }
}

/* css for detail news */

.deatailnews {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  cursor: pointer;
}

li:hover {
  background: #f0f0f0;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: #333;
}

.news-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* card css */

.card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #212121;
  box-shadow: 5px 5px 8px #1b1b1b,
             -5px -5px 8px #272727;
  transition: 0.4s;
}

.card:hover {
  translate: 0 -10px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #b2eccf;
  margin: 15px 0 0 10px;
}

.card-image {
  min-height: 170px;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  box-shadow: inset 5px 5px 3px #2f2f2f,
            inset -5px -5px 3px #333333;
}

.card-body {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}


/* pagination */

.pagination {
  background-color: #212121 !important;
}

.pagination .page-item {
  background-color: #212121;
  color: white;
  border-color: #212121;
}
.pagination .page-item.active .page-link {
  /* background-color: white; */
  color: black;
  border-color: black;
}
